#title {
    color:rgb(49, 78, 5);
}

.red {
    color:rgb(156, 12, 12);
}

h2 {
    color:rgb(61, 58, 58);
}

body{
    background-color: bisque;
    color:black;
    padding: 30px;
}